@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-downs {
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #2280E0;
  background-color: #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #2280E0;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.linear-background {
  background: linear-gradient(318deg, #FEBB94 50.86%, #2280E0 55.22%);
}

.linear-container {
  background: linear-gradient(179.98deg, #2280E0 0.01%, #FEBB94 102.26%);
}

.booking-btn {
  transition-duration: 0.4s;
}

.booking-btn:hover {
  color: white;
  background-color: #2280E0;
}

.loader {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dissapear {
  animation: vanish 0.5s forwards;
}

@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}